.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {
    background-color: #af93e7;
    opacity: 0.7;
    margin: 0px;
    padding: 20px 0px 0px 0px;
}

address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

.navbar-dark {
    background-color: #1e75da;
    margin-bottom: 30px;
}